body {
  margin: 0;
  padding: 10;
  font-family: 'Muli' !important;
  background: #e2cc9c!important;
}

.shadow-box-images {
  box-shadow: 3px 3px 10px rgba(10, 10, 10, .5)!important;
  transition-duration: .5s!important;
}

.shadow-box-images:hover {
  transform: scale(1.1);
}

.shadow-box {
  box-shadow: 3px 3px 10px rgba(10, 10, 10, .5)!important;
}

.bg {
    background: #e2cc9c!important;
}

h1 , h2 , h3, h4 {
  font-family: 'Muli' !important;
}

h2 {
  font-size: 250% !important
}

.main-title {
  font-family: 'Chewy' !important;
  font-size: 600% !important
}

.nav-font {
  font-family: 'Muli' !important;
  font-size: 150%
}
