body {
  margin: 0;
  padding: 10;
  font-family: 'Muli' !important;



}

.paralax {
    background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0346/6919/fsu_cheveron002_repeat_preview.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.shadow-box-images {
  box-shadow: 3px 3px 10px rgba(10, 10, 10, .5)!important;
  transition-duration: .5s!important;
}

.shadow-box-images:hover {
  transform: scale(1.1);
}

.shadow-box {
  box-shadow: 3px 3px 10px rgba(10, 10, 10, .5)!important;
}

.bg {
    background: rgba(226, 204, 156, 0.83)!important;
}

h1 , h3, h4 {
  font-family: 'Muli' !important;
}

h2 {
  font-family: Chewy !important;
  font-size: 400% !important;
}

.stat-sub {
  font-family: Chewy !important;
  font-size: 250% !important;
}

.main-title {
  font-family: 'Chewy' !important;
  font-size: 800% !important
}

.sub-title {
  font-family: 'Chewy' !important;
  font-size: 400% !important
}

.nav-font {
  font-family: 'Muli' !important;
  font-size: 150%
}

.home-bg {
  background: rgba(207, 152, 152, 0.6) !important;
}

.milestone-bg {
  background: #ffffff !important ;
}

.comma-font {
  font-family: 'Sacramento', cursive !important;
}
